
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="live-log-title">Backend Activity Log</h1>
				<a href="#/clocker/visitorsignin/" class="btn btn-default btn-xs backend-link">Visitor Sign In</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<label for="starting-date">Starting on:</label>
				<input id="start-date-picker" type="text">
				<p id="dateoutput"></p>
			</div>
			<div class="col-sm-6">
				<label for="before-date">Before:</label>
				<input id="before-date-picker" type="text">
				<p id="dateoutput"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<input type="text" placeholder="Search Name" ng-model="searchName">
			</div>
				<div class="col-sm-5"> Group:
					<label for="group-select">
						<select ng-change="showFilteredSummary()" class="form-control" ng-model="group">
						  <option>Vanderbilt</option>
						  <option>Belmont</option>
						  <option>USN</option>
						  <option>Covenant Presbyterian Church</option>
						</select>
					</label>
				</div>
				<div class="col-sm-5"> Event/Activity:
					<label for="event-selece">
						<select class="form-control" ng-model="event">
						  <option>Literacy Tutoring</option>
						  <option>Board meeting</option>
						  <option>Admin Work</option>
						  <option>HCA Impact Day</option>
						</select>
					</label>
				</div>
			</div>
		<div class="row">
			<div class="col-sm-3">
				<h4>Total People:</h4>
				<h5 ng-model="visitorsSum">{{visitorsSum}}</h5>
			</div>
			<div class="col-sm-3">
				<h4>Total Hours:</h4>
				<h5 ng-model="totalHours">{{filteredSum}}</h5>
			</div>
			<div class="col-sm-3">
				<h4>Total Groups:</h4>
				<h5 ng-model="groupTotal">{{groupTotal}}</h5>
			</div>
			<div class="col-sm-3">
				<h4>Total Events/Activities:</h4>
				<h5 ng-model="eventsTotal">{{eventsTotal}}</h5>
			</div>
		</div>
			
		<div class="row">
			<div class="col-sm-12">

				<table class="table table-striped table-hover table-responsive table-bordered">
					<tr>
						<th>Name</th>
						<th>Time In</th>
						<th>Time Out</th>
						<th>Event</th>
						<th>Group</th>
						
					</tr>
					<tr ng-repeat="activity in filteredResults = (activityLogArray | afterDateFilter: selectedStart | beforeDateFilter: selectedEnd | filterBy: ['firstName + lastName']: searchName | filterBy: ['group']: group | filterBy: ['activity']: event)">
						<td>{{activity.firstName}} {{activity.lastName}}</td>
						<td>{{activity.inFormatted}}</td>
						<td>{{activity.outFormatted}}</td>
						<td>{{activity.activity}}</td>
						<td>{{activity.group}}</td>	
					</tr>

					<!-- <p>length of results: {{testOutput}}</p> -->
					<!-- <p>length of results: {{filteredResults.length * 10}}</p> -->
					<!-- <div hours activities="searchName"></div> -->

				</table>
				
			</div>
		</div>
	</div>

