<h1>Admin sign up page</h1>

	<div>
		<input type="text" placeholder="organization/business name" size="50" ng-model="orgName">
	</div>
	<div>
		<input type="text" placeholder="first name" size="50" ng-model="firstName">
	</div>
	<div>
		<input type="text" placeholder="last name" size="50" ng-model="lastName">
	</div>
	<div>
		<input type="text" placeholder="email" size="50" ng-model="email">
	</div>
	<div>
		<input type="text" placeholder="password" size="50" ng-model="password">
	</div>
	<div>
		<input type="text" placeholder="verify password" size="50" ng-model="verifyPassword">
	</div>
	<div>
		<button ng-click="createNewUser()">Go!</button>
	</div>
</div>