<!-- this module is used with the login.js file -->

<div id="login-page">
	<div class="wrapper">
		<div class="login-container">

			<div class="wrap center">
 				<div class="timer"></div>
			</div>

			<span class="logo-login"><i class="fa fa-picture-o"></i></span>
			<h1 class="heading">Clocker</h1>
			<form class="form">
				<input id="user-email" ng-model="email" type="text" placeholder="Email">
				<input id="user-password" ng-model="password" type="password" placeholder="Password">
				<button id="login-button" ng-click="login()">Login</button>
			</form>

			<div>
				<h5>New to Clocker? Click <a href="#/clocker/adminsignup" class="underline">here</a> to get started in 5 seconds!</h5>
			</div>
			
		</div>
	</div>
</div>