html {
  top: 0px;
  bottom: 0px;
  height: 100%; }

#parial-body {
  top: 0px;
  height: 100%; }

body {
  top: 0px;
  bottom: 0px;
  height: 100%; }

label {
  margin-top: 7px; }

body * {
  font-family: 'Quicksand', sans-serif; }

h1.visitor-page-heading {
  margin-top: 7px;
  color: #E3E3E3;
  margin-bottom: 20px; }

button.dropdown-select {
  color: #262626;
  background-color: #5B8623;
  margin-right: 20px;
  border: solid 1px #262626; }

input.dropdown-select {
  color: #262626;
  background-color: #5B8623;
  border: solid 1px #262626; }

.wrapper {
  background: #223749;
  background: -webkit-linear-gradient(top left, #223749 0%, #223749 100%);
  background: linear-gradient(to bottom right, #223749 0%, #223749 100%);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 475px;
  margin-top: -200px;
  overflow: hidden; }

.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
  -ms-transform: translateY(85px);
  transform: translateY(85px); }

.login-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center; }

.login-container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
  transition-timing-function: ease-in-put;
  font-weight: 200;
  color: white; }

form {
  padding: 20px 0;
  position: relative; }

form input {
  -webkit-appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300; }

form input:hover {
  background-color: rgba(255, 255, 255, 0.4); }

form input:focus {
  background-color: white;
  width: 300px;
  color: #223749; }

form button {
  -webkit-appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #223749;
  border-radius: 3px;
  width: 250px;
  margin-right: 4px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s; }

form button:hover {
  background-color: #4E5F6D; }

#visitor-sign-in-form {
  border-right: solid 1px #E3E3E3;
  height: calc(100% - 40px);
  padding-right: 0px; }

#sign-out {
  text-align: right; }

.inherit-height {
  height: inherit; }

.live-log-title {
  display: inline; }

.backend-link {
  float: right; }

.sign-out-margins {
  padding-left: 4%;
  padding-right: 2%; }

.user-selection {
  padding-left: 15px; }

.activity-selection {
  margin-top: 0px;
  margin-right: 3%; }

#important-button {
  color: #5B8623;
  background-color: #262626; }

.important-btn-sm {
  color: #5B8623;
  background-color: #262626;
  text-align: center; }

table#activity-list td.no-side-border {
  border: none;
  border-right: solid 1px white;
  border-left: solid 1px white;
  border-style-left: none;
  border-style-right: none;
  background-color: white;
  font-weight: 900; }

.dropdown-spacing {
  padding-right: 20px; }

#visitor-sign-in-page {
  height: 100%;
  background-color: #5B8623; }

input::-webkit-input-placeholder {
  color: #262626 !important; }

input:-moz-placeholder {
  /* Firefox 18- */
  color: #262626 !important; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #262626 !important; }

input:-ms-input-placeholder {
  color: #262626 !important; }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 0px solid #ddd; }

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) {
  background-color: #588302; }

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) {
  background-color: #5B8623; }

.table-striped > tbody > tr > th {
  background-color: #262626;
  color: #E3E3E3;
  font-weight: 100;
  text-align: center; }

.table-curved {
  border-collapse: separate;
  border: solid #262626 1px;
  border-radius: 6px;
  border-left: 0px; }

.table-curved > thead:first-child > tr:first-child > th {
  border-bottom: 0px;
  border-top: solid #262626 1px; }

.table-curved td, .table-curved th {
  border-left: 1px solid #262626;
  border-top: 1px solid #262626; }

.table-curved > :first-child > :first-child > :first-child {
  border-top-left-radius: 6px; }

.table-curved > :first-child > :first-child > :last-child {
  border-top-right-radius: 6px; }

.table-curved > :last-child > :last-child > :first-child {
  border-bottom-left-radius: 6px; }

.table-curved > :last-child > :last-child > :last-child {
  border-bottom-right-radius: 6px; }

#activity-log-page {
  padding: 5px;
  padding-right: 10px; }

#activity-filter-sidebar {
  width: 200px;
  position: fixed; }

.padding-for-sidebar {
  padding-left: 200px; }

.padding-for-add-sidebar-button {
  padding-left: 30px; }

.hidden {
  visibility: hidden; }

#fixed-header {
  background-color: white;
  border: none;
  padding-bottom: 6px; }

#invisible-header {
  visibility: hidden;
  margin-bottom: 0px;
  border-bottom: 0px; }

.wide-margin {
  margin-left: 200px; }

.thin-margin {
  margin-left: 20px; }

.fixed {
  position: fixed; }

#space-for-add-sidebar-button {
  width: 20px;
  padding-left: 10px;
  position: fixed;
  z-index: 9999; }

.dropdown-select-spacing {
  margin-top: 10px; }

.activity-log-header {
  background-color: white; }

/*# sourceMappingURL=main.css.map */
